#LeftPanel .unity-tab-view__header-container {
	display: none;
}

#LeftPanel .unity-tab-view__content-container {
	height: 100%;
}

.unity-tab{
	height: 100%;
}

.unity-tab__content-container{
	height: 100%;
}

#Equipment, #Craft{
	height: 100%;
}